/* app css stylesheet */
body {
    position: relative;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #dedede;
    background-color: #222222;
    color: #eeeeee;
}

#list {
	margin-top: 50px;
}

/* overrides */
.navbar .brand.pull-right { float: right; }