<div class="row-fluid">
	<div class="span12">
		<form>
			<fieldset>
				<legend>Add a Time</legend>
				<label>Name</label>
				<input type="text" placeholder="Type something">
				
				<label>Type</label>
				<select ng-model="entry.options.type">
					<option value="datetime">Datetime</option>
					<option value="date">Date</option>
					<option value="time">Time</option>
					<!-- @TODO daterange, datetimerange, period -->
				</select>
				
				<ng-switch on="entry.options.type">
					<div ng-switch-when="datetime">
						<label>Date</label>
						<!-- datetime not supported by chrome -->
						<input ng-model="value" type="datetime">
					</div>
					<div ng-switch-when="date">
						<label>Date</label>
						<input ng-model="value" type="date">
					</div>
					<div ng-switch-when="time">
						<label>Time</label>
						<input ng-model="value" type="time">
					</div>
				</ng-switch>
				
				<label>Semantic</label>
				<input ng-model="entry.semantic" type="text" placeholder="e.g. birthday" typeahead>

				<button type="submit" class="btn">Submit</button>
			</fieldset>
		</form>
	</div>
</div>