<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-list">
			<li><a ng-href="#/add/list"><i class="icon-list"></i>List</a></li>
			<li><a ng-href="#/add/text"><i class="icon-font icon-white"></i>Text</a></li>
			<li><a ng-href="#/add/time"><i class="icon-time"></i>Time</a></li>
			<li><a href="#/add/place"><i class="icon-map-marker"></i>Place</a></li>
			<li><a href="#/add/person"><i class="icon-user"></i>Person</a></li>
			<li><a href="#/add/media"><i class="icon-picture"></i>Media</a></li>
			<li><a href="#/add/number"><i class="icon-">1</i>Number</a></li>
			<li><a href="#/add/boolean"><i class="icon-check"></i>Checkable</a></li>
			<li><a href="#/add/template"><i class="icon-align-justify"></i>Template</a></li>
		</ul>
	</div>
</div>