<h1>{{ entry.name }}</h1>

<div class="row-fluid">
	<div class="span12">
		<ul class="nav unstyled">
			<uber-list-entry entry="entry" ng-repeat="entry in childEntries">
		</ul>
	</div>
</div>

<!-- <div class="row-fluid">
	<div class="span12">
		<ul class="nav unstyled">
			<li ng-repeat="entry in childEntries" >
				<ng-switch on="entry.type">
					<a ng-switch-when="list" href="#/lists/{{entry.uuid}}">
						{{ entry.name }}
						<span href="#" class="pull-right"><i class="icon-chevron-right"></i></span>
					</a>
					
					<div ng-switch-default>
						{{ entry.type }}: {{ entry.name }}
					</div>
				</ng-switch>
			</li>
		</ul>
	</div>
</div> -->