<div class="row-fluid">
	<div class="span12">
		<form ng-submit="storeEntry( entry )">
			<fieldset>
				<legend>Add a Text</legend>
				<label>Name</label>
				<input ng-model="entry.name" type="text" placeholder="Type something">
				
				<label>Type</label>
				<select ng-model="entry.options.type">
					<option value="single">Single Line</option>
					<option value="multi">Multi Line</option>
					<option value="code">Code</option>
				</select>
				
				<ng-switch on="entry.options.type">
					<div ng-switch-when="single">
					</div>
					<div ng-switch-when="multi">
						<label>Text</label>
						<textarea ng-model="value" rows="3"></textarea>
					</div>
					<div ng-switch-when="code">
						<label>Text</label>
						<textarea ng-model="value" ui-codemirror="{theme:'monokai'}"></textarea>
					</div>
				</ng-switch>
				
				<label>Semantic</label>
				<input ng-model="entry.semantic" type="text" placeholder="e.g. headline" typeahead>
				
				<button type="submit" class="btn">Submit</button>
			</fieldset>
		</form>
	</div>
</div>